.container-label {
    border: 1px solid black;
    margin: 50px auto;
    width: 70%;
    height: 30rem;
}

.labelweight {
    margin-left: 4em;
    padding-left: 0;
}

.text {
    border: 1px solid black;
    margin: -50rem auto 0 auto;
}

#weight {
    height: 2rem;
    margin-top: 5rem;
}

#height {
    height: 2rem;
}

.btn {
    
    height: 3em;
    width: 20em;
}

.clear {
    margin-bottom: 50rem;
    height: 3em;
    width: 5em;
}